/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Public+Sans:wght@400;700;900&display=swap'); */
@import "tailwindcss";

body {
  margin: 10px;
  background-color: #ebedf0;
}

button,
a {
  cursor: pointer;
}
